General Reset


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    
    background-color: #1a1919;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.nav-links.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: absolute;
    top: 60px; /* Adjust this value depending on your navbar height */
    left: 0;
    width: 100%;
    background-color: #101010;
}


.navbar {
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #181616;
}

.logo a {
    padding-left: 10px;
    color: #39c939;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    padding-right: 10px;
    text-decoration: none;
    color: #39c939;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

.menu-icon {
    display: none;
    color: #39c939;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Main Header */
.main-header {
    /* text-align: center; */
    margin-top: 4rem;
}

.main-header h1 {
    
    font-size: 3rem;
    color: #39c939;
}
.main-header h2 {
    
    font-size: 2rem;
    color: #39c939;
}

.main-header p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.cta-button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #39c939;
    color: #eff3ef;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #39c939;
    color: #0f0f0f;
}
/* Recent post */
.recent-posts ul  h3 a {
    color: #267fa8;
}


/* Footer */
.footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
}

/* Responsive Design */
/*   For small screens (tablets, phones) */
@media (max-width: 768px) {
    /* Menu Icon */
    .menu-icon {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .menu-icon span {
        display: block;
        height: 3px;
        background-color: #2fb66e;
        transition: 0.3s;
        
    }
    .nav-links {
        
        position: absolute;
        margin-left: 10%;
        top: 40px;
        right: 0;
        background-color: #0f0f0f;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    .nav-links.show {
        max-height: 200px; /* Adjust this value according to the number of links */
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon span:nth-child(2) {
        
        opacity: 1;
    }

    .menu-icon.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .nav-links {
        
        display: none;
    }

    .nav-links.show {
        display: flex;
    }
    .cta-button{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Ensures responsiveness */
        gap: 15px;
    }

}



