/* ###################################################################  General Design Start ############################################################# */
* {
  margin-top: 0;
  padding-top: 0;
  box-sizing: border-box;
}


body {

  font-family: "Courier New", monospace;
  color: #00ff00;
  background-color: #1e1e1e;
  min-height: 100%;


  /* font-family: Arial, sans-serif; */
  line-height: 1.6;
}

/* Layout Containers */
.container { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
h2{
  font-family: "Rubik Glitch", system-ui;
  font-weight: normal;
}
/* buttons */

#toggle-toc-btn{

  padding: 8px 10px;
  background-color: #444444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

#toggle-tag-btn{

 
  padding: 8px 10px;
  background-color: #444444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/* button end */

/* ##########################################  Top Navbar start */
.navbar{
width: calc(100% - 250px);
display: flex;
background-color: #333333;
justify-content: space-between;
position: fixed;
align-items: center;
padding: 10px 20px;
box-sizing: border-box;
top: 0;
left: 250px;
z-index: 1000;

}
.navbar .menu{
display: flex;
gap: 15px;
}
.navbar input[type="text"] {
background-color: #444444;
color: #00ff00;
border: none;
padding: 5px 10px;
border-radius: 5px;
outline: none;
}
.searchbar{
width: auto;
}
/* news toogle button */
#toggle-news-btn {
margin-left: 60%;
padding: 8px 10px;
background-color: #444444;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}
#span{
  justify-content: left;
}
.breadcrumb{
  justify-content:space-between
}

/* beadcrumbs */

/* ##########################################  Top Navbar End */
/* ##########################################  Sidebar start */
/* Left Sidebar */
.sidebar {
display: flex;               /* Use flexbox for the entire sidebar */
flex-direction: column;      /* Stack items vertically */
justify-content: space-between; /* Align content with space between */
position: fixed;             /* Fixed sidebar */
top: 0;
left: 0;

width: 250px;                /* Sidebar width */
height: 100%;                /* Full viewport height */
background-color: #2b2b2b;   /* Adjust as per your design */
padding: 15px;
box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-content {
margin-left: 1%;
flex: 1;                     /* Take up remaining space */
display: flex;
flex-direction: column;
align-items: center;
overflow-y: auto;            /* Enable scrolling if content exceeds height */
width: 100%;                 /* Ensure content stays within sidebar width */
padding-bottom: 15px;        /* Add space for bottom elements */
}

.sidebar img {
margin-left: 15%;
margin-top: 15%;
width: 100px;
height: 100px;
border-radius: 50%;
margin-bottom: 10px;
animation: fadeIn 1s ease-in-out;
}

.sidebar h1 {
font-family: "Rubik Glitch", system-ui;
font-weight: 400;
font-style: normal;
margin-left: 10%;
color: white;
margin-top: 10%;
font-size: 25px;
margin-bottom: 20px;
animation: slideIn 0.5s ease-in-out;
}

.sidebar a {
  font-family: "Press Start 2P", system-ui;
font-style: normal;
  margin-left: 8%;
font-size: 18px;
color: #c4c4c4;
transition: color 0.3s ease-in-out;
}


.social-media {
  display: flex;              
  gap: 1px;                  
  margin-top: auto;           
  }
.social-media a {
  margin-right: 7%;
  color: #2dc92d; /* Neon green */
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
  text-shadow: 0 0 8px #127a12, 0 0 16px #1c811c; /* Neon glow */
}
/* Hover Effect */
.social-media a:hover {
  transform: scale(1.2); /* Slight zoom */
  color: #00ffcc; /* Electric blue on hover */
  text-shadow: 0 0 12px #00ffcc, 0 0 24px #00ffcc; /* Glow changes to blue */
}

/* Hacky Animation */
.social-media a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00ff00, #00ffcc, #00ff00);
  bottom: -5px;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

/* Animate Underline on Hover */
.social-media a:hover:after {
  opacity: 1;
  transform: scaleX(1);
}

/* Glitch Effect (Optional) */
.social-media a:hover {
  animation: glitch 0.3s infinite alternate;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px #00ff00, -2px -2px #00ffcc;
    transform: translate(1px, -1px);
  }
  100% {
    text-shadow: -2px -2px #00ffcc, 2px 2px #00ff00;
    transform: translate(-1px, 1px);
  }
}

.nav-link {
display: block;
color: #c4c4c4;
text-decoration: none;
font-size: 15px;
margin-bottom: 15px;
padding: 5px 10px;
transition: color 0.3s ease-in-out;
}

/* .nav-link:hover{
background-color: rgba(57, 201, 57, 0.1); 
} */

.nav-link:hover {
  
  color: #39c939; /* Change text color */
  border:1px solid #308d30; /* Add a border when hovered */
  box-shadow: 0 0 15px rgba(57, 201, 57, 0.8); /* Add glow effect */
  border-radius: 30px 30px 30px 30px; 


}
.nav-link {
  transition: color 0.3s ease, text-shadow 0.3s ease, box-shadow 0.3s ease;
}

/* Active link styling */
.nav-link.active {
color: #39c939;
}

.nav-link.active::before {
content: '';
position: absolute;
height: 3px;
width: 100%;
bottom: 0;
left: 0;
background-color: #39c939;
}

/* Active Link Styling */
#current {
  background-color: #00bcd4;
  color: #fff;
  border-radius: 15px;
  animation: highlight 0.8s ease-in-out;
}

/* Highlight Animation */
@keyframes highlight {
  0% {
      transform: scale(0.9);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}


/* ##########################################  Sidebar End */

/* ####################################### Image animation Logo */
.image-container {
margin-top: -10%;
margin-bottom: 10%;
margin-left: 1%;
position: relative;
width: 160px;
height: 150px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
padding-left: 10px;
width: 100%;
height: 100%;
border-radius: 50%;
border: 5px solid #2a3d5f;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
transform: scale(1.2); 
box-shadow: 0 15px 30px rgba(0, 255, 0, 0.4); /
}

.image-container img:hover {
transform: scale(2.2); 
box-shadow: 0 10px 20px rgba(0, 255, 0, 0.4);
}
/* ####################################### Image animation Logo End */


/* ##########################################  right side news section Start */
.news-section {
margin-top: 2%;
width: 400px;
background-color: #282828;
color: #e5eee5;
padding: 20px;
overflow-y: auto;
position: fixed;
right: 0;
top: 0;
height: 100%;
box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
transition: transform 0.3s ease-in-out;
}
.swipe-indicator { 
display: block;
position: absolute;
top: 50%;
left: -20px;
width: 20px;
height: 50px;
background-color: #888;
border-radius: 10px;
transform: translateY(-50%);
}
.news-section.open {
right: 0; /* Fully visible when open */
}

.news-section.hidden {
transform: translateX(0);
}

.news-section {
transform: translateX(100%);
transition: transform 0.3s ease-in-out;
}

.news-section h2 {
text-align: center;
margin-bottom: 20px;
}
.news-section h3 {
color: #2fb66e;
}
.news-section p {
color: #ffffff;
}


.news-cards {
display: flex;
flex-direction: column;
gap: 10px;
}

.news-card {
background-color: #333;
margin-bottom: 15px;
padding: 15px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
transform: scale(1.05);
/* background-color: #244624; */
color: #fff;
}
.article {
display: none; 
}

.article a {
color: #39c939;
text-decoration: none;
}


/* ##########################################  right side news section End */

/* ########################################## Main container start */
/* Main Content */
.main{
/* width:auto; */
margin-top: 3%;
margin-left: 250px;
padding: 20px;
}
/* ####################   Welcome messagae desing start */
/* Base styling for Welcome Section */
.welcome-section {
width: auto;
background: linear-gradient(to right, #1f1f1f, #333333); 
padding: 40px; 
border-radius: 15px; 
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
text-align: center; 
transition: all 0.3s ease-in-out; 
}

.welcome-title {
color: #138808; 
font-size: 3rem; 
overflow: hidden;
white-space: nowrap;
margin-bottom: 20px; 
font-family: "Press Start 2P", system-ui;
font-style: normal;
font-weight: bold;
animation: typing 3s steps(1000, end), blink 0.7s step-end infinite alternate;
}
.welcome-section:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="0" x2="100%" y2="0" stroke="rgba(255,255,255,0.02)" stroke-width="1"/><line x1="0" y1="20" x2="100%" y2="20" stroke="rgba(255,255,255,0.02)" stroke-width="1"/></svg>');
opacity: 0.5;
pointer-events: none;
}
.welcome-section p {
color: #e4e4e4;
font-size: 1.2rem; 
line-height: 1.6;
margin: 20px 0;
font-family: "Press Start 2P", system-ui;
font-style: normal;
}
.welcome-section p.quote {
font-style: italic;
font-size: 1.4rem;
color: #f4f4f4;
padding: 10px 20px;
background-color: #444444; 
border-radius: 8px;
}
.welcome-section:hover {
transform: translateY(-5px); 
box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 
}
/* Divider */
.divider {
width: 60%;
height: 2px;
background: linear-gradient(to right, #2fb66e, transparent);
margin: 20px auto;
}
/* Keyframe animations for the typing effect */
@keyframes typing {
from { width: 0; }
to { width: 100%; }
}

@keyframes blink {
from { border-right-color: #2fb66e; }
to { border-right-color: transparent; }
}
/* Welcome messagae desing End */
/* ######################################### Recent POsts */
.recent-posts {
display: grid;
grid-template-columns: repeat(2, 1fr); 
gap: 20px; 
row-gap: 10px; 
padding: 10px;
}



/* Card styles */
.post-card {
margin-left: 10%;
margin-right: 15%;
width: auto;
display: flex;
background-color: #2a2a2a;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: transform 0.2s;
}

.post-card:hover {
transform: translateY(-5px);
}
.grid-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
padding: 10px;
}
/* Image styles */
.post-image {
margin-top: 15px;
width: 100px;
height: 100px;
object-fit: cover;
}

/* Content styles */
.post-content {
padding: 15px;
display: flex;
flex-direction: column;
gap: 5px;
color: #f0f0f0;
}

.post-title {
margin: 0;
font-size: 18px;
color: #2fb66e;
}

.post-description {
font-size: 14px;
color: #ccc;
}

.post-date {
font-size: 12px;
color: #888;
display: flex;
align-items: center;
gap: 5px;
}

.post-date i {
color: #2fb66e;
}
/* ############################ Main Content End */
/* ########################################## Main container End */
/* search result */
.search-results {
position: fixed;
top: 7.9%;
left: 19%;
width: 53.9%;
height: 90%;
background-color: rgba(0, 0, 0, 0.9); 
padding: 20px;
overflow-y: auto;
z-index: 999; 
display: none; 
flex-wrap: wrap;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 15px; 
}

.search-results .card {
gap: 20px;
margin-top: 20px;
width: auto;
background-color: #282828;
color: #e5eee5;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.container {
position: relative;
z-index: 2; /* Place above the canvas */
}
canvas {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%; /* Ensure it covers the viewport */
z-index: 0; /* Keep it below other elements */
}
.search-results .card:hover {
transform: scale(1);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.search-results h3 {
margin-bottom: 10px;
color: #39c939;
}

.search-results p {
margin: 0;
color: #c4c4c4;
}

a {
text-decoration: none;
color: #39c939;
transition: color 0.3s ease-in-out;
}
a:hover {
color: #ffffff;
}

.search-results a:hover {
background-color: #555;
}

.article {
display: none; 
}

.article a {
color: #39c939;
text-decoration: none;
}
.menu-toggle{
visibility: hidden;
}

/* tags */
.tag-sidebar {
  margin-top: 2%;
  width: 400px;
  background-color: #282828;
  color: #e5eee5;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Initially off-screen on small screens */
  transition: transform 0.3s ease-in-out;
}


.tag-sidebar h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #444;
  color: white;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tag .delete-btn {
  margin-left: 8px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.tag:hover .delete-btn {
  color: red; /* Highlight delete button on hover */
}

.tag.selected {
  background-color: #097509;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.main-content{
  margin-top: 2%;
}
/* TOC */
/* TOC sidebar styles */
.toc-section {
  margin-top: 2%;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #2b2b2b;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Initially off-screen on small screens */
  transition: transform 0.3s ease-in-out;
}

.toc-section h3 {
  margin-top: 10%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}

.toc-section ul {
  list-style-type: none;
  padding: 0;
}

.toc-section a {
  display: block;
  color: #c4c4c4;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px 0;
  border-left: 3px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.toc-section a:hover {
  color: white;
}

.toc-section a.active {
  color: white;
  border-left: 3px solid white; /* Highlight active section */
}

.toc-section ul ul {
  padding-left: 20px; /* Indent subsections */
}

.toc-link.active {
  color: #fff;
  border-left: 5px solid #fff;
  padding-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

section {
  padding: 50px;
  margin: 20px 0;
  /* border: 1px solid #ccc; */
}

/* search result end */
/* ###################################################################  General Design End ############################################################# */
/* ############################## Animation */
/* Animations */
@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes slideIn {
from {
  transform: translateX(-50px);
  opacity: 0;
}
to {
  transform: translateX(0);
  opacity: 1;
}
}
/* ############################## Animation ENd */

/* ################################################################### Responsive Design Satrt ############################################################# */


/* ####################### smaller smartphones or narrow viewport screens ###########################*/
@media  screen and (max-width: 480px){
  .toc-main {
    margin-top: 10%;
  }
  .toc-section h3{
    margin-top: 15%;
  }
  
  .tag-sidebar {
    margin-top: 10%;
    width: 80%;
    transform: translateX(100%); /* Sidebar is hidden by default */
  }
  
  /* Sidebar will slide in when 'open' class is added */
  .tag-sidebar.open {
    transform: translateX(0);
  }
  .search-results{
    position: fixed;
    top: 7.9%;
    left: 10%;
    width: 80%;
    height: 90%;
  
  }
  .searchbar{
    width: 20%;
  }
  .image-container{
    margin-top: 10%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1px;
    padding: 20px;
  }
  .recent-posts {
    width: 132%;
    /* margin-right: -19%; */
    margin-left: -13%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px; 
    row-gap: 2px; 
    padding: 0px;
  }
.sidebar-link {
  font-size: 14px; /* Slightly smaller font size */
  padding: 8px 12px; /* Reduce padding to save space */
}

.welcome-title {
  font-size: 1.5rem; 
}
.welcome-section{
  width: 100%;
  margin-left: 2%;
  margin-top: 10%;
}
.main {
  margin-top: 3%;
  width: auto;
  margin-left: 0;
}

.news-section {
  transform: translateX(0);
  margin-top: 7%;
  right: -100%; 
  width: 80%; /* Wider for small screens */
}
#toggle-news-btn {
display: none;
}
.swipe-indicator { 
display: block;
}
.main {
  width: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
}
.sidebar {
  transform: translateX(-100%);
  position: fixed;
  width: 250px;
}
.sidebar.show {
  transform: translateX(0); 
}
.sidebar img{

  margin-left: 0;
  
}

/* meun css */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  height: 3px;
  background-color: #2fb66e;
  transition: 0.3s;
  
}
.nav-links.show {
  max-height: 200px; 
}

.menu-icon {
  display: flex;
}

.menu-icon span:nth-child(2) {
  
  opacity: 1;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar img {
  margin-left: 15%;
  margin-top: 15%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
  }
}
  
  

/* ####################### Commonly used for very small screens, such as mobile phones ###########################*/
@media (min-width:481px) and (max-width: 600px){
  .welcome-title {
    font-size: 1.9rem; 
  }
  .searchbar{
    width: 20%;
  }
  section {
    margin-top: 14%;
  }
  .toc-section h3{
    margin-top: 10%;
  }

  .tag-sidebar {
    margin-top: 8%;
    width: 75%;
    transform: translateX(100%); /* Sidebar is hidden by default */
  }
  
  /* Sidebar will slide in when 'open' class is added */
  .tag-sidebar.open {
    transform: translateX(0);
  }
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
}
.recent-posts {
  display: grid;
  grid-template-columns: repeat(1, 4fr); 
  gap: 10px; 
  row-gap: 10px; 
  padding: 10px;
}
.sidebar-link {
  font-size: 14px; /* Slightly smaller font size */
  padding: 8px 12px; /* Reduce padding to save space */
}

.welcome-section{
  width: auto;
  margin-top: 5%;
}
.main {
  margin-top: 3%;
  width: auto;
  margin-left: 0;
}

.news-section {
  margin-top: 7%;
  transform: translateX(0);
  right: -100%; 
  width: 80%; /* Wider for small screens */
}
#toggle-news-btn {
display: none;
}
.swipe-indicator { 
display: block;
}
.main {
  width: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
}
.sidebar {
  transform: translateX(-100%);
  position: fixed;
  width: 250px;
}
.sidebar.show {
  transform: translateX(0); 
}


/* meun css */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  height: 3px;
  background-color: #2fb66e;
  transition: 0.3s;
  
}
.nav-links.show {
  max-height: 200px; 
}

.menu-icon {
  display: flex;
}

.menu-icon span:nth-child(2) {
  
  opacity: 1;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar img {
  margin-left: 15%;
  margin-top: 33%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10%;
  animation: fadeIn 1s ease-in-out;
  }
  

}
/* ####################### This can overlap with phones and some tablets in portrait mode. ###########################*/
@media (min-width: 601px) and (max-width: 768px){
  .welcome-title {
    font-size: 2.3rem; 
  }
  .searchbar{
    width: 20%;
  }
  .toc-main {
    margin-top: 14%;
  }
  .toc-section h3{
    margin-top: 14%;
  }
  .tag-sidebar {
    margin-top: 7%;
    transform: translateX(100%); /* Sidebar is hidden by default */
  }
  
  /* Sidebar will slide in when 'open' class is added */
  .tag-sidebar.open {
    transform: translateX(0);
  }
.search-results{
  position: fixed;
  top: 7.9%;
  left: 10%;
  width: 80%;
  height: 90%;

}
.news-section {
  margin-top: 9%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  padding: 20px;
}
.recent-posts {
  display: grid;
  grid-template-columns: repeat(1, 4fr); 
  gap: 10px; 
  row-gap: 10px; 
  padding: 10px;
}
.welcome-section{
  width: auto;
  margin-top: 5%;
}
.main {
  margin-top: 3%;
  width: auto;
  margin-left: 0;
}
.news-section {
  transform: translateX(0);
  right: -100%; 
  width: 80%; /* Wider for small screens */
}
#toggle-news-btn {
display: none;
}
.swipe-indicator { 
display: block;
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
}
.sidebar {
  transform: translateX(-100%);
  position: fixed;
  width: 250px;
}
.sidebar.show {
  transform: translateX(0); 
}



/* meun css */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  height: 3px;
  background-color: #2fb66e;
  transition: 0.3s;
  
}
.nav-links.show {
  max-height: 200px; 
}

.menu-icon {
  display: flex;
}

.menu-icon span:nth-child(2) {
  
  opacity: 1;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar img {
  margin-left: 15%;
  margin-top: 33%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10%;
  animation: fadeIn 1s ease-in-out;
  }

}
  
    
/* ####################### Commonly used for tablets and some smaller desktop screens ###########################*/
@media (min-width: 769px) and (max-width: 1024px){
  .news-section {
    
  margin-top: 5%;
  right: -100%; 
  width: 50%; /* Wider for small screens */
}
  .welcome-title {
    font-size: 2.2rem; 
  }
 
  .searchbar{
    width: 30%;
  }
  .sidebar{
    width: 250px;
  }
  .toc-main {
    margin-top: 1%;
  }
  .toc-section h3{
    margin-top: 14%;
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 10px;
  padding: 20px;
}
.recent-posts {
  display: grid;
  grid-template-columns: repeat(1, 4fr); 
  gap: 10px; 
  row-gap: 10px; 
  padding: 10px;
}

.search-results{
  position: fixed;
  top: 7.9%;
  left: 35%;
  width: 60%;
  height: 90%;

}
#toggle-news-btn {
  display: none;
  }
.welcome-section{
  margin-top: 5%;
}
}
/* #######################  Typically used for larger desktops and laptops. ###########################*/

@media (min-width: 1026px) and (max-width: 1399px){
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
  gap: 1px;
  padding: 10px;
}
.recent-posts {
  display: grid;
  grid-template-columns: repeat(2, 4fr); 
  gap: 50px; 
  row-gap: 10px; 
  padding: 10px;
}

.main{
  width: auto;
  
  } 
  .welcome-section{
    margin-top: 3%;
  
  } 
  
  .news-section {
    margin-top: 2%;
    width: 400px;
    background-color: #282828;
    color: #e5eee5;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  

}
 
@media (min-width: 1400px) and (max-width: 1700px){
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1200px, 1fr));
  gap: 20px;
  padding: 30px;
}
.recent-posts {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 4fr); 
  gap: 20px; 
  row-gap: 10px; 
  padding: 10px;
}

.main{
width: auto;
justify-content: center;
margin-left: 15%;

} 
.welcome-section{
  margin-top: 2%;
  /* margin-right: 8%; */
} 

.news-section {
  margin-top: 2%;
  width: 400px;
  background-color: #282828;
  color: #e5eee5;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
}
@media (min-width: 1701px) and (max-width: 1899px){
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1200px, 1fr));
  gap: 20px;
  padding: 30px;
}
.recent-posts {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 4fr); 
  gap: 20px; 
  row-gap: 10px; 
  padding: 10px;
}

.main{
  justify-content: center;
  width: auto;
  
  } 
  .welcome-section{
    margin-top: 1%;
    /* margin-right: 8%; */
  } 
  
  .news-section {
    margin-top: 2%;
    width: 400px;
    background-color: #282828;
    color: #e5eee5;
    padding: 20px;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 1900px) and (max-width: 2310px){
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
  gap: 20px;
  padding: 30px;
}
.recent-posts {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 4fr); 
  gap: 20px; 
  row-gap: 10px; 
  padding: 10px;
}
.main{
  margin-top:1%;
  margin-left: 13%;
}  
.welcome-section{
  margin-top: 2%;
  /* margin-right: 8%; */
} 
.news-section {
  margin-top: 2%;
  width: 400px;
  background-color: #282828;
  color: #e5eee5;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
}

@media (min-width: 2311px) and (max-width: 3300px){
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1500px, 1fr));
  gap: 20px;
  padding: 30px;
}
.recent-posts {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 4fr); 
  gap: 20px; 
  row-gap: 10px; 
  padding: 10px;
}
.main{
width: auto;
justify-content: center;
}  


.news-section {
margin-top: 2%;
width: 500px;
background-color: #282828;
color: #e5eee5;
padding: 20px;
overflow-y: auto;
position: fixed;
right: 0;
top: 0;
height: 100%;
box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
transition: transform 0.3s ease-in-out;
}


}

@media (min-width: 3300px) {
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3000px, 1fr));
  gap: 20px;
  padding: 30px;
}
.recent-posts {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 4fr); 
  gap: 20px; 
  row-gap: 10px; 
  padding: 10px;
}
.main{
width: auto;
justify-content: center;
} 



.news-section {
margin-top: 2%;
width: 500px;
background-color: #282828;
color: #e5eee5;
padding: 20px;
overflow-y: auto;
position: fixed;
right: 0;
top: 0;
height: 100%;
box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
transition: transform 0.3s ease-in-out;
}

}